---
import ClutchLogo from "../assets/clutch-logo2.svg";
import { Image as AstroImage } from "astro:assets";
import facebook from "../assets/facebook.svg";
import twitter from "../assets/twitter.svg";
import linkedin from "../assets/linkedin.svg";
import instagram from "../assets/instagram.svg";
import hyper from "../assets/hyper.svg";
import SocialLink from "./shared/SocialLink.astro";

const links = [
  {
    id: 1,
    link: "https://www.facebook.com/share/1JPkDrVzEz/?mibextid=wwXIfr",
    icon: facebook,
    alt: "Facebook",
  },
  {
    id: 3,
    link: "https://www.linkedin.com/company/clutch-app-uk/",
    icon: linkedin,
    alt: "Linkedin",
  },
  {
    id: 4,
    link: "https://www.instagram.com/clutch__app?igsh=MTFjaHJiNHk3NWY5MA%3D%3D&utm_source=qr",
    icon: instagram,
    alt: "Instagram",
  },
];
---

<footer class="footer">
  <div class="footer-top">
    <div class="footer-top_left">
      <AstroImage class="logo" src={ClutchLogo} alt="Clutch" />
      <div class="social-links">
        {
          links.map(({ id, link, icon, alt }) => (
            <SocialLink key={id} href={link} icon={icon} alt={alt} />
          ))
        }
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="footer-bottom">
    <div class="footer-bottom_left">
      <p class="footer-bottom_left-text">
        © {new Date().getFullYear()} Clutch. All rights reserved.
      </p>
    </div>
    <div class="footer-bottom_right">
      <p class="footer-bottom_right-link">
        <a href="/tos">Terms of Service</a>
      </p>
      <p class="footer-bottom_right-link">
        <a href="/privacy-policy">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: #f0eadd;
    padding: 24px;
    margin: 0 auto;
  }

  .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .social-links {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: #89847c;
    margin: 30px 0;
    opacity: 0.5;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .footer-bottom_left-text {
    color: #89847c;
    font-family: "Inter", serif;
    font-size: 16px;
    line-height: 34px;
    margin: 0;
  }

  .footer-bottom_right {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    @media screen and (max-width: 375px) {
      gap: 0.2rem;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .footer-bottom_right-link {
    margin: 0;
  }
</style>
