---
import ClutchLogo from "../assets/clutch-logo2.svg";
import { Image as AstroImage } from "astro:assets";
import facebook from "../assets/facebook.svg";
import twitter from "../assets/twitter.svg";
import linkedin from "../assets/linkedin.svg";
import instagram from "../assets/instagram.svg";
import hyper from "../assets/hyper.svg";
import SocialLink from "./shared/SocialLink.astro";

const links = [
  { id: 1, link: "https://facebook.com", icon: facebook, alt: "Facebook" },
  { id: 2, link: "https://x.com", icon: twitter, alt: "Twitter" },
  { id: 3, link: "https://linkedin.com", icon: linkedin, alt: "Linkedin" },
  { id: 4, link: "https://instagram.com", icon: instagram, alt: "Instagram" },
];
---

<footer class="footer">
  <div class="footer-top">
    <div class="footer-top_left">
      <AstroImage class="logo" src={ClutchLogo} alt="Clutch" />
      <div class="social-links">
        {
          links.map(({ id, link, icon, alt }) => (
            <SocialLink key={id} href={link} icon={icon} alt={alt} />
          ))
        }
      </div>
    </div>
    <div class="footer-top_right">
      <p style="display:flex;align-items:center;gap:1rem;">
        <span class="footer-top_right-launched-with"> Launched with </span>
        <AstroImage src={hyper} alt="Hyper" />
      </p>
      <p style="color:#221F1B;font-size:12px;line-height:16px;margin:0;">
        The best way to fund and launch your app.
      </p>
      <p style="color:#221F1B;font-size:12px;line-height:16px;margin:0;">
        Celebrating $32m raised in the past 12 months.
      </p>
    </div>
  </div>
  <div class="divider"></div>
  <div class="footer-bottom">
    <div class="footer-bottom_left">
      <p class="footer-bottom_left-text">
        © {new Date().getFullYear()} Clutch. All rights reserved.
      </p>
    </div>
    <div class="footer-bottom_right">
      <p class="footer-bottom_right-link">
        <a href="/tos">Terms of Service</a>
      </p>
      <p class="footer-bottom_right-link">
        <a href="/privacy-policy">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: #f0eadd;
    padding: 24px;
    margin: 0 auto;
  }

  .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .social-links {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .footer-top_right {
    font-family:
      "Inter",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Helvetica Neue",
      Arial,
      sans-serif;
  }

  .footer-top_right-launched-with {
    color: #221f1b;
    font-size: 14px;
    line-height: 20px;
    font-family:
      "Inter",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Helvetica Neue",
      Arial,
      sans-serif;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: #221f1b;
    margin: 30px 0;
    appearance: 10%;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .footer-bottom_left-text {
    color: #89847c;
    font-family: "Inter", serif;
    font-size: 16px;
    line-height: 34px;
    margin: 0;
  }

  .footer-bottom_right {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    @media screen and (max-width: 375px) {
      gap: 0.2rem;
      flex-direction: column;
      align-items: flex-start;
    }

    a {
      color: #221f1b;
      font-family:
        "Inter",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        Arial,
        sans-serif;
      font-size: 16px;
      line-height: 34px;
      margin: 0;
      transition: all 0.1s ease-in-out;
      text-decoration: none;

      &:hover {
        transition: all 0.1s ease-in-out;
        color: #ed705a;
      }
    }
  }

  .footer-bottom_right-link {
    margin: 0;
  }
</style>
